/************************
 * graphicsDemo.css
 * Andrew Chittick
 * 9/27/19k
 ***********************/


body{
	background-color:gray;
}
#surface{
	background-color:white;
	border-radius:10px;
	box-shadow: 0 2px 15px black;
	position: absolute;
	left: 100px;
	top: 25px;
}
button{
	position: absolute;
	left: 40px;
	height:60px;
	width:60px;
	background-repeat: no-repeat;
	background-position: center;
}
#freeDraw{
	background-color: green;
	background-image: url('images/freeDraw.png');
	top: 145px;
}
#line{
	background-color: red;
	background-image: url('images/line.png');
	top: 205px;
}
#circle{
	background-color: red;
	background-image: url('images/circle.png');
	top: 265px;
}
#rectangle{
	background-color: red;
	background-image: url('images/rectangle.png');
	top: 325px;
}
#spiral{
	background-color: red;
	background-image: url('images/spiral.png');
	top: 385px;
}
#clear{
	background-color: lightgray;
	top: 445px;
	font-size:15pt;
	font-weight: bold;
	text-align: left;
}
#readme{
	position: absolute;
	background-color: lightgray;
	text-align:center;
	font-weight:bold;
	height: 40px;
	width: 120px;
	top: 650px;
	left: 340px;
}
