/*comments
 *
 */
body{
	background-color:gray;
}
#surface{
	background-color:white;
	border-radius:10px;
	box-shadow: 0 2px 15px black;
	position: absolute;
	left: 100px;
	top: 25px;
}
button{
	position: absolute;
	top: 630px;
	height:60px;
	width:60px;
}
#freeDraw{
	background-color: green;
	left: 250px;
}
#line{
	background-color: red;
	left: 310px;
}
#circle{
	background-color: red;
	left: 370px;
}
#rectangle{
	background-color: red;
	left: 430px;
}
#spiral{
	background-color: red;
	left: 490px;
}	
#clear{
	background-color: lightgray;
	top: 690px;
	left: 370px;
	height: 40px;
	width: 60px;
}

